# MongoDB Atlas Connection String
# Automatically set by Vercel when integrating MongoDB Atlas:
# https://vercel.com/marketplace/mongodbatlas
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/lakshmi_stores?retryWrites=true&w=majority

